name: CI
on: [push, pull_request]

jobs:
  frontend:
    name: Build Frontend
    runs-on: ubuntu-20.04
    steps:
    - uses: actions/checkout@v2
    - run: npm install
    - run: npm run lint
    - run: make

  ios:
    # follows https://jitsi.github.io/handbook/docs/dev-guide/dev-guide-mobile#ios
    name: Build iOS app
    runs-on: macos-10.15
    steps:
    - uses: actions/checkout@v2
    - run: npm install
    - run: |
        cd ios
        pod install
        cd ..
    - run: react-native run-ios --device
    - run: react-native log-ios
